<% if (! board_contents_only) { %>
<% include ../../../views/head %>

    <h1><%= title %></h1>
    <div id="button-container">
      <button type="button" id="new-game-button" title="Start a new game.">New Game</button>
      <button type="button" id="validate-button" title="Think you've clicked all non-mine locations?">Validate :)</button>
      <button type="button" id="cheat-button" title="Just a peek couldn't hurt..">Cheat</button>
    </div>
  <div id="board" <%= (visited !== undefined) ? 'class=preloaded' : '' %>>
  <% } %>
    <table id="board-table"><tbody id="board-table-body">
      <% for (var i = 0, cell_contents; i < numRows; i++) { %>
        <tr id="board-row-<%= i %>">
          <% for (var j = 0; j < numCols; j++) { 
            if (visited !== undefined && visited[i] !== undefined) {
              cell_contents = visited[i][j];
            } else {
              cell_contents = undefined;
            }
            %>
            <% if (cell_contents === undefined) { %>
              <td class="boardCell">
                <button class = "boardTile" id="board-tile-<%= i %>-<%= j %>">
                </button>
            <% } else if (cell_contents === -1) {%>
              <td class="boardCell failure">
                <img src="/img/explosion_50px.jpg" />
            <% } else {%>
              <td class="boardCell">
                <img src="/img/<%= cell_contents %>_50px.jpg" />
            <% } %>
            </td>
          <% } %>
        </tr>
      <% } %>
    </tbody></table>
  <% if (! board_contents_only) { %>
  </div>
    <div id="result-container">
      <h1 id="result">
      </h1>
    </div>
    <input type="hidden" id="numRows" value="<%= numRows %>" />
    <input type="hidden" id="numCols" value="<%= numCols %>" />
    <input type="hidden" id="numMines" value="<%= numMines %>" />

<% include ../../../views/foot %>
<% } %>