  <link rel="stylesheet" href="<%= settings.protocol %>://<%= settings.base_url %>/css/header.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="<%= settings.protocol %>://<%= settings.base_url %>/js/lib/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
        <% if (! settings.hide_navbar) { %>
            <div class="navbar">
                <ul>
                    <%
                    var sites = [
                            { name: 'home', href: settings.base_url },
                            { name: 'all', 
                              href: 'all.' + settings.base_url, 
                              dropdown: [
                                { name: 'ABOUT', href: 'all.' + settings.base_url + '/about' },
                                { name: 'CONTACT', href: 'all.' + settings.base_url + '/contact' },
                              ],
                            },
                            { name: 'corridor', href: 'corridor.' + settings.base_url },
                            { name: 'fortune cookie', href: 'fortunecookie.' + settings.base_url },
                            { name: 'markslist', href: 'markslist.' + settings.base_url },
                            { name: 'minesweeper', href: 'minesweeper.' + settings.base_url },
                            { name: 'wishing well', href: 'wishingwell.' + settings.base_url },
                            { name: 'text', href: 'text.' + settings.base_url },
                            { name: 'troll`s goals', href: 'trollsgoals.' + settings.base_url },
                            <!-- temporarily removed { name: 'magi-cal', href: 'magi-cal.me' }, -->
                            { name: 'ETS', href: 'etstutoring.org' },
                        ],
                        i,
                        j,
                        len,
                        len2,
                        pagename,
                        pagehref,
                        site_name,
                        site_href,
                        site_dropdown;

                    for (i = 0, len = sites.length; i < len; i++) {
                        site_name = sites[i].name;
                        site_href = sites[i].href;
                        site_dropdown = sites[i].dropdown;
                    %>
                        <li>
                            <a href="<%= settings.protocol %>://<%= site_href %>"
                                <%
                                if (settings.site_name === site_name) { %>
                                    class="current_site"
                                <% } %>
                            ><%= site_name.toUpperCase() %></a>
                           <!--write nested ul for dropdowns-->
                            <% if (site_dropdown !== undefined ) { %>
                              <ul>
                              <% for (j=0, len2 = site_dropdown.length; j < len2; j++) {
                                pagename = site_dropdown[j].name;
                                pagehref = site_dropdown[j].href;
                                %>
                                <li>
                                  <a href="<%= settings.protocol %>://<%= pagehref %>"> <%= pagename %> </a>
                                </li>
                              <% } %>  
                              </ul>
                            <% } %>
                        </li>
                    <% } %>
                    <li class="right">
                      <!-- Logout/Login/Register Trigger(s) -->
                      <% if (typeof locals.username === 'string') { %>
                        <%= locals.username.toUpperCase() %> <a href="/logout">LOGOUT</a>
                        <% if (locals.username.substring(0, 5) === 'guest') { %>
                          <a href="#" id="guest_convert_trigger">REGISTER</a>
                        <% } %>
                      <% } else { %>
                        <a href="#" id="login_register_trigger">LOGIN/REGISTER</a>
                      <% } %>

                      <!-- Guest Conversion dropdown -->
                      <% if (typeof locals.username === 'string' && locals.username.substring(0, 5) === 'guest') { %>
                        <div id="guest_convert" class="dropdown_form">
                          <!-- Guest Conversion form -->
                          <form action="/register" method="post">
                              <div class="username">
                                  <label for="guest_convert_username">USERNAME:</label>
                                  <input type="text" name="username" id="guest_convert_username" placeholder="username" autofocus required remote="/check_username" /><br/>
                              </div>
                              <div class="password">
                                  <label for="guest_convert_password">PASSWORD:</label>
                                  <input type="password" name="password" id="guest_convert_password" placeholder="password" required />
                              </div>
                              <div class="password">
                                  <label for="guest_convert_password_confirm">CONFIRM PASSWORD:</label>
                                  <input type="password" name="password_confirm" id="guest_convert_password_confirm" placeholder="re-type password" required equalTo="#guest_convert_password" />
                              </div>
                              <div class="submit_button">
                                  <input type="submit" value="Register" class="button" />
                              </div>
                          </form>
                        </div><!-- Guest Conversion dropdown -->
                      <!-- Login/Register dropdown -->
                      <% } else if (typeof locals.username !== 'string') { %>
                        <div id="login_register" class="dropdown_form">
                          <h3>LOGIN</h3>
                          <form action="/login" method="post">
                            <div class="username">
                              <label for="login_username">USERNAME:</label>
                              <input type="text" name="username" id="login_username" placeholder="username" autofocus required />
                            </div>
                            <div class="password">
                              <label for="login_password">PASSWORD:</label>
                              <input type="password" name="password" id="login_password" placeholder="password" required />
                            </div>
                            <div class="submit_button">
                              <input type="submit" value="Login" class="button" />
                            </div>
                          </form>
                          <form action="/guest_login" method="post">
                            <input type="submit" class="button" value="Login as Guest" />
                          </form>
                          <!-- Register form -->
                          <h3>REGISTER</h3>
                          <form action="/register" method="post">
                              <div class="username">
                                  <label for="register_username">USERNAME:</label>
                                  <input type="text" name="username" id="register_username" placeholder="username" autofocus required remote="/check_username" />
                              </div>
                              <div class="password">
                                  <label for="register_password">PASSWORD:</label>
                                  <input type="password" name="password" id="register_password" placeholder="password" required />
                              </div>
                              <div class="password">
                                  <label for="register_password_confirm">CONFIRM PASSWORD:</label>
                                  <input type="password" name="password_confirm" id="register_password_confirm" placeholder="re-type password" required equalTo="#register_password" />
                              </div>
                              <div class="submit_button">
                                  <input type="submit" value="Register" class="button" />
                              </div>
                          </form>
                        </div><!-- Login/Register dropdown -->
                      <% } %>
                    </li>
                </ul>
            </div>
        <% } %>
        <% if (settings.show_banner) { %>
            <div class="banner">
                <a href="<%= settings.protocol %>://<%= settings.base_url %>">
                    <img src="<%= settings.protocol %>://<%= settings.base_url %>/img/aybanner3.png" title="ayoshitake.com" />
                </a>
                <h3 id="under_construction">PERMANENTLY UNDER CONSTRUCTION</h3>
            </div>
        <% } %>
    </header>