<% include ../../../views/head %>

  <table id="doc_list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Last Modified</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(docs, function(doc) { %>
        <tr>
          <td><%= doc.title %></td>
          <td><%= moment(doc.created_at).calendar() %></td>
          <td><%= moment(doc.modified_at).calendar() %></td>
          <td>
            <a href="/edit/<%= doc.title %>">Edit</a>
            <a href="/delete/<%= doc.title %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <form action="/create" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="submit" value="Create" />
  </form>

  <% if (typeof error !== 'undefined') { %>
    <div class="error"><%= error %></div>
  <% } %>

<% include ../../../views/foot %>